<section class="sm_card">
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe non tempora
    itaque temporibus iusto consequatur numquam nostrum nulla, inventore
    nesciunt officiis, sequi voluptate fugiat beatae id officia maiores
    perferendis perspiciatis?
  </p>
  <img src="/img/beautiful-young-girl-listen-music.jpg" alt="" />
</section>
<section class="sm_card">
  <img src="/img/classic-acoustic-guitar.jpg" alt="" />
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe non tempora
    itaque temporibus iusto consequatur numquam nostrum nulla, inventore
    nesciunt officiis, sequi voluptate fugiat beatae id officia maiores
    perferendis perspiciatis?
  </p>
</section>
