<%- include("partials/head") %>

<body>
  <%- include("partials/nav") %>
  <section>
    <h1>Home Page</h1>
    <button class="enterBtn">Enter</button>
    <img src="/img/silhouette-musician-stage-playing-guitar.jpg" alt="" />
  </section>

  <%- include('partials/sm_card') %> <%- include("partials/foot") %>
</body>
